# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
/pages/api/addproduct/ProductModel.js
/pages/api/addproduct/ProductSchema.js
/pages/api/addtocart/CartModel.js
/pages/api/addtocart/CartSchema.js
/pages/api/category/CategoryModel.js
/pages/api/category/CategorySchema.js
/pages/api/createuser/UserModel.js
/pages/api/createuser/UserSchema.js
 


# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*
.env.local*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
